.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.modal-content input, .modal-content select, .modal-content textarea {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content textarea{
  flex:none;
  height: 100px;
}